<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Training</title>

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="#" class="nav-icon" aria-label="visit homepage"
                    aria-current="page">
                    <img class="logo" src="#" alt="logo">
                    <span></span>
                </a>
                <div class="main-navlinks">
                   
                    <div class="navlinks-container">
                        <a href="index.html" aria-current="page">ACCUEIL</a>
                        <a href="#" aria-current="page">CAMPUS</a>
                        <a href="#" aria-current="page">BLOG</a>
                        <a href="#" aria-current="page">A PROPOS</a>
                    </div>
                </div>
                <div class="nav-authentication">
                    <div class="Sign-btns">
                        <button class="btn-left" type="button"><a href="Connexion.html">CONNECTEZ-VOUS</a></button>
                        <button type="button">DEVENEZ REPETITEUR</button>
                    </div>
                </div>
            </nav>
        </header>

       

        
    <section class="section-connexion">
      <div class="connexion">
          <div class="form-container" tabindex="0">
              <div class="form-container__block">
                <div class="form-container__header">
                  <p>Connectez-vous</p>
                  <form class="form-container__form">
                    <input placeholder="Email " type="email">
                    <input placeholder="Saisissez votre mot de passe" type="password">
                    <div class="form-container__register-buttons">
                      <button class="form-container__sign">connexion</button>
                      <a class="form-container__sign forgot" href="#">Mot de passe oublié?</a>
                    </div>
                  </form>
                </div>
                <div class="form-container__footer">
                  <p class="top-line">Ou <a href="">inscrivez-vous</a></p>
                  <div class="form-container__sign-app-buttons">
                    <button class="google"><svg class="" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 512 512" y="0" x="0" height="512" width="512" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <path data-original="#167ee6" fill="#167ee6" d="m492.668 211.489-208.84-.01c-9.222 0-16.697 7.474-16.697 16.696v66.715c0 9.22 7.475 16.696 16.696 16.696h117.606c-12.878 33.421-36.914 61.41-67.58 79.194L384 477.589c80.442-46.523 128-128.152 128-219.53 0-13.011-.959-22.312-2.877-32.785-1.458-7.957-8.366-13.785-16.455-13.785z"></path>
                          <path data-original="#12b347" fill="#12b347" d="M256 411.826c-57.554 0-107.798-31.446-134.783-77.979l-86.806 50.034C78.586 460.443 161.34 512 256 512c46.437 0 90.254-12.503 128-34.292v-.119l-50.147-86.81c-22.938 13.304-49.482 21.047-77.853 21.047z"></path>
                          <path data-original="#0f993e" fill="#0f993e" d="M384 477.708v-.119l-50.147-86.81c-22.938 13.303-49.48 21.047-77.853 21.047V512c46.437 0 90.256-12.503 128-34.292z"></path>
                          <path class="" data-original="#ffd500" fill="#ffd500" d="M100.174 256c0-28.369 7.742-54.91 21.043-77.847l-86.806-50.034C12.502 165.746 0 209.444 0 256s12.502 90.254 34.411 127.881l86.806-50.034c-13.301-22.937-21.043-49.478-21.043-77.847z"></path>
                          <path class="" data-original="#ff4b26" fill="#ff4b26" d="M256 100.174c37.531 0 72.005 13.336 98.932 35.519 6.643 5.472 16.298 5.077 22.383-1.008l47.27-47.27c6.904-6.904 6.412-18.205-.963-24.603C378.507 23.673 319.807 0 256 0 161.34 0 78.586 51.557 34.411 128.119l86.806 50.034c26.985-46.533 77.229-77.979 134.783-77.979z"></path>
                          <path data-original="#d93f21" fill="#d93f21" d="M354.932 135.693c6.643 5.472 16.299 5.077 22.383-1.008l47.27-47.27c6.903-6.904 6.411-18.205-.963-24.603C378.507 23.672 319.807 0 256 0v100.174c37.53 0 72.005 13.336 98.932 35.519z"></path>
                        </g>
                      </svg><span>Google</span></button>
                    
                   
                   
                  </div>
                </div>
              </div>
            </div>
      </div>
      
  </section>

       

    
    </body>
</html>
