<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Training</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="#" class="nav-icon" aria-label="visit homepage"
                    aria-current="page">
                    <img class="logo" src="#" alt="logo">
                    <span></span>
                </a>
                <div class="main-navlinks">
                   
                    <div class="navlinks-container">
                        <a href="index.html" aria-current="page">ACCUEIL</a>
                        <a href="#" aria-current="page">CAMPUS</a>
                        <a href="#" aria-current="page">BLOG</a>
                        <a href="#" aria-current="page">A PROPOS</a>
                    </div>
                </div>
                <div class="nav-authentication">
                    <div class="Sign-btns">
                        <button class="btn-left" type="button"><a href="Connexion.html">CONNECTEZ-VOUS</a></button>
                        <button type="button">DEVENEZ REPETITEUR</button>
                    </div>
                </div>
            </nav>
        </header>

        <div class="sujet">
            <div>
                <img class="sujet-icon" src="image/sujet.png"
                    alt="sujet">
            </div>

        </div>

        <div class="main-text">
            <h2>
                Pour un <span>meilleur apprentissage</span> de <span>vos enfants</span>,
                nous mettons à
                votre disposition des <span>répétiteurs qualifiés</span>!
            </h2>

            <div class="btn-star">
                <button><span>Trouvez un répétiteur</span></button>
            </div>
        </div>

        <section class="section1">
            <div class="div-section1">
                <h2>Laissez-nous vous guider!</h2>
                <p>Nous vous aidons à vous Trouver des répétiteurs
                    qualifiés & éxperimentés dans votre région!</p>
            </div>
            <div class="div-section2">
                <div class="service">
                    <img src="icon/icon1.png" alt>
                    <h3 class="legende-title"><span>Soutien Scolaire - Ecole
                            Primaire</span></h3>
                    <p class="legende-title1">Des cours abordables et
                        personnalisés pour les élèves du primaire. Aide aux
                        devoirs, etc.</p>
                </div>

                <div class="service">
                    <img src="icon/icon4.png" alt>
                    <h3 class="legende-title"><span>Soutien Scolaire - 7è à 12è</span></h3>
                    <p class="legende-title1">Cours de soutien scolaires pour
                        les élèves du Secondaire et Humanités.</p>
                </div>
                <div class="service">
                    <img src="icon/icon3.png" alt>
                    <h3 class="legende-title"><span>Cours des langues</span></h3>
                    <p class="legende-title1">Apprenez avec facilité et
                        confiance la langue de votre choix chez vous à la
                        maison.</p>
                </div>

            </div>
            <div class="div-section3">

                <div class="paragraph">
                    <img class="img-2" src="img/img2.jpg" alt>
                    <p><span>À PROPOS DE NOUS</span> <br><br>Bienvenue chez
                        Molakisi Services ! Nous existons pour offrir à nos
                        clients des services de cours particuliers à domicile de
                        qualité. Nos coachs scolaire sont capables et compétents
                        dans un large éventail de matières et peuvent aider les
                        élèves à atteindre leurs objectifs scolaires. Nous
                        croyons qu'il est important d'inspirer nos apprenants à
                        atteindre leur plus haut potentiel et de fournir un
                        soutien individualisé sur mesure. Avec Molakisi
                        Services, vous pouvez être sûr que les besoins scolaires
                        de votre enfant seront pris en charge. Merci de nous
                        avoir choisi!</p>
                </div>
            </div>
        </section>
        <section class="section2">
            <div class="formulaire">
                <form class="form">
                    <div class="title">Contactez-nous</div>
                    <input type="text" placeholder="E-mail" class="input">
                    <textarea placeholder="Saisissez votre message"></textarea>
                    <button>Envoyez</button>
                </form>
            </div>

            <div class="footer">
              <div class="div-footer">
                <div></div>
                <div></div>
                <div></div>
              </div>
                <div class="div-cont">
                    <p>DR Congo
                        10.651; Sergent Moke Avenue. Entre Rond Point Safricas et Rond point Socimat.</p>
                    <p>+243-893 404 985</p>
                    <p>molakisibusinessgroup@gmail.com</p>
                    </div>

            </div>

            <div class="copyright">
                <p> &copy; Copyright <strong><span>MOLAKISI-Sercives 2023</span></strong></p>
            </div>
        </section>
    </body>
</html>
