<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Training</title>

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="#" class="nav-icon" aria-label="visit homepage"
                    aria-current="page">
                    <img class="logo" src="#" alt="logo">
                    <span></span>
                </a>
                <div class="main-navlinks">
                   
                    <div class="navlinks-container">
                        <a href="index.html" aria-current="page">ACCUEIL</a>
                        <a href="#" aria-current="page">CAMPUS</a>
                        <a href="#" aria-current="page">BLOG</a>
                        <a href="#" aria-current="page">A PROPOS</a>
                    </div>
                </div>
                <div class="nav-authentication">
                    <div class="Sign-btns">
                        <button class="btn-left" type="button"><a href="Connexion.html">CONNECTEZ-VOUS</a></button>
                        <button type="button">DEVENEZ REPETITEUR</button>
                    </div>
                </div>
            </nav>
        </header>

        <div class="wrapper">
          <div class="title">
            inscrivez-vous
          </div>
          <div class="form">
             <div class="inputfield">
                <label>Nom</label>
                <input type="text" class="input">
             </div>  
              <div class="inputfield">
                <label>Prenom</label>
                <input type="text" class="input">
             </div>  
             <div class="inputfield">
                <label>Mot de passe</label>
                <input type="password" class="input">
             </div>  
            <div class="inputfield">
                <label>Confirmation mot de passe</label>
                <input type="password" class="input">
             </div> 
              <div class="inputfield">
                <label>Sexe</label>
                <div class="custom_select">
                  <select>
                    <option value="">Choisissez</option>
                    <option value="male">Masculin</option>
                    <option value="female">Feminin</option>
                  </select>
                </div>
             </div> 
              <div class="inputfield">
                <label>Addresse E-mail</label>
                <input type="text" class="input">
             </div> 
            <div class="inputfield">
                <label>Téléphone</label>
                <input type="text" class="input">.

                
             </div> 
            <div class="inputfield">
                <label>Addresse</label>
                <textarea class="textarea"></textarea>
             </div> 
            <div class="inputfield">
                <label>Postal Code</label>
                <input type="text" class="input">
             </div> 
            <div class="inputfield terms">
                <label class="check">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                <p>J'ai lu et j'accepte les termes de conditions.</p>
             </div> 
            <div class="inputfield">
              <input type="submit" value="Register" class="btn">
            </div>
          </div>
      </div> 

    
    </body>
</html>
