*, 
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
    max-width: 100%;
    margin: 0 auto;
}

/* header {
    position: sticky;
    top: -1px;
} */

nav {

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset 0px -1px 0px #c5c5c6;

}

/* .nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
} */


.nav-icon img {
    width: 100px;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin: 0 20px;
    left: 857px;
    font-size: 14px;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}

.navlinks-container a ::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover ::after {
    transform: scaleX(1);
}

.nav-authentication {
    margin-left: auto;
}

.Sign-btns button {
    font-family: poppins;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    font-weight: bold;
}



.Sign-btns button:nth-child(2) {
    border: none;
    background: #4e7098;
}

.sign-user {
    display: none;
}

h1 {
    padding-top: 200px;
    text-align: center;
    color: #000000;
    padding-bottom: 50px;
    width: 1100px;
    font-size: 40px;
    padding-right: 200px;
    font-style: italic;
}


.sujet-icon {
    width: 100%;
    height: 990px;
}

.logo {
    display: none;
}

.main-text {
    position: absolute;
    max-width: 700px;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    top: 280px;
    left: 60px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2 span {
    font-weight: bold;
    color: #4e7098;
}

.btn-star button {
    position: relative;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #4e7098;
    color: white;
    text-transform: uppercase;
    margin-top: 60px;
}

.div-section1 {
    background-color: #4e7098;
    height: 140px;
}

.btn-star span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.btn-star:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

.div-section1 h2 {
    text-align: center;
    font-size: 35px;
    padding: 20px;
    color: white;
}


.div-section1 p {
    text-align: center;
    color: white;
}

.div-section2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 60px;
    background-color: #effaf6;
    margin-top: 0px;

}

.div-section2 div {
    background-color: #e0e0e0a9;
    width: 350px;
    height: 250px;
    border: 1px solid #684b3a;
    border-radius: 15px;
    border: none;
}

.div-img1 img {
    background-color: #183153;
}

.div-section2 img {
    width: 150px;
    padding: 10px;
    margin-left: 50px;
}

.div-section3 {
    background-color: #64857a;
    height: 440px;
}

.paragraph {
    padding: 50px 250px;
    display: flex;
    gap: 150px;
}


.paragraph p {
    text-align: justify;
    color: white;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.service p {
    font-size: 12px;
    text-align: center;
}

.service img {
    max-width: 100%;
    margin-top: -50px;
    margin-left: 20px;
}

h3 span {
    font-size: 20px;
    color: #4e7098;
}

.img-2 {
    width: 480px;
}

/* ici commence le formulaire */

.formulaire {
    margin-top: 100px;
    height: 500px;
}

.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
    color: #4e7098;
    font-size: 30px;
    font-weight: 600;



}

.form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
}

.form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #4e7098;
    color: #fff;
    cursor: pointer;
}

/* ici s'arrete le formulaire */

.footer {
    background-color: #183153;
    height: 300px;
}

.copyright {
    background-color: #fff;
    height: 40px;
    padding: 10px;
}


.copyright p {
    font-size: 13px;
    text-align: center;

}

a {
    text-decoration: none;
}


/* page de connexion */

.section-connexion {
    display: flex;
    gap: 15px;
    width: 600px;
    height: 410px;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315); 
    margin-top: 100px;
}


.google svg {
    
  width: 18px;
  height: auto;
}

.form-container {
 width: 500px;
  font-family: sans-serif;
  color: #4b4b4b;
padding: 50px;
  margin-bottom: 120px;
  
}


.form-container p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 14px;
}



.form-container__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.form-container__form input {
  height: 31px;
  border: 1px solid #d9d9d9;
  padding: 4px;
  font-size: 14px;
  line-height: 1.65;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-container__form input:focus {
  border-color: #00a6fd;
  outline: 0;
  box-shadow: none;
}

.form-container__register-buttons {
  display: flex;
  column-gap: 10px;
}

.form-container__sign {
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.65;
  border-radius: 20px;
  width: 110px;
  white-space: nowrap;
  background-color: #00a6fd;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-container__sign:first-child:active,
.form-container__sign:first-child:hover {
  background-color: #4c9dd0;
}

.form-container__sign:focus {
  outline-offset: -2px;
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px #97dbff;
  box-shadow: inset 0 0 3px 1px #97dbff;
}

.forgot {
  width: auto;
  padding: 8px 0;
  background: none;
  font-weight: 400;
  color: #183153;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
  color: #4c9dd0;
}

.form-container__header {
  padding-bottom: 16px;
}

.form-container__footer {
  padding-top: 12px;
  border-top: 1px solid #cacaca;
}

.form-container__sign-app-buttons {
  display: flex;
  column-gap: 24px;
}

.form-container__sign-app-buttons button:not(:first-child) {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container__sign-app-buttons button:not(:first-child)::before {
  position: absolute;
  content: '';
  width: 120%;
  height: 2px;
  background: rgb(187, 187, 187);
  bottom: 0;
  opacity: 0;
}

.form-container__sign-app-buttons button:not(:first-child):hover::before {
  opacity: 1;
  transition: 1s;
}

.form-container__sign-app-buttons button:not(:first-child):focus::before {
  opacity: 1;
  background-color: #4b4b4b;
}

.form-container__sign-app-buttons button:first-child {
  justify-content: center;
  min-width: 110px;
  height: 40px;
  border: none;
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 1px #ffffff;
  display: flex;
  align-items: center;
  color: #4b4b4b;
  font-size: 13px;
  column-gap: 15px;
  cursor: pointer;
}

.form-container__sign-app-buttons button:first-child:active {
  background: #eeeeee;
}

.form-container__sign-app-buttons button:first-child:focus:not(:active) {
  outline: none;
  -webkit-box-shadow: inset 0 0 3px 1px #97dbff;
  box-shadow: inset 0 0 3px 1px #97dbff;
}

.div-cont p{
color: white;
text-align: center;
}


/* inscription utilisateur */



.wrapper{
  max-width: 900px;  
 margin: 0 auto;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #183153;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #000;
   margin-right: 40px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #0ffaa transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 60px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}



.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #00a6fd;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #4c9dd0
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 130px;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background: #183153;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #183153;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}